body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* iremos configurar as listas fora da classe pai, pois só temos uma lista */
/* configuração da lista*/
ul {
    list-style: none;
    /* tira espaço dentro do componente
        diferente do margin que tira espaço fora do component */
    padding: 0px;
}

/* cores na lista */
a {
    color: #484848;
}

li {
    line-height: 32px;
}

/* legenda da imagem */
figcaption {
    font-size: 12px;
}

iframe {
    width: 800px;
    height: 500px;
}

/* classe inicia com "." */

/* ********************************************************************* */
/* artigo */
.navigation {
    background-color: #c4170c;
    color: white;
}

/* altera o H2 dentro da classe navigation */
.navigation h2 {
    background-color: #b0140a
}

/* ********************************************************************* */

/* titulo-artigo */
/* muda o h1 do titulo-artigo */
.titulo-artigo h1 {
    margin-left: 120px;
    margin-right: 120px;
    font-size: 48px;
}

.titulo-artigo h2 {
    margin-left: 140px;
    margin-right: 140px;
    font-size: 18px;
    color: #484848;    
}

/* ********************************************************************* */

/* content */
.content {
    width: 800px;
    /* margens iguais na esqueda e direita */
    margin: auto;
    /* deve ser colocdo depois de magin: auto pois sensibilizará 
        as margens 
       Este recurso é utilizado para separar as divs*/
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}

.content img {
    width: 800px;
    margin-top: 30px;
}

.content h3 {
    font-size: 12px;
}

.content p {
    font-size: 18px;
    /* altura da linha deixa as linhas mais espaçadas deve ser maior que font-size */
    line-height: 30px;
    color: #484848;
}